
* {
  --slicers: url(https://raw.communitydragon.org/14.14/game/assets/ux/strawberry/upgradeselection/icons/weapon/9171_holybauble.png);
}

body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: 262626;
  color: d1d1d1;
}

.weapon-button {
  overflow: hidden;
  --angle;
  --img;
  display: block;
  border-radius: 8px;
  padding: 2px;
  margin: 0;
  width: 64px; 
  height: 64px;
  background-repeat: no-repeat;
  background-size: cover;
  border: 0px transparent;
  /* background-image: var(--slicers);   */
  background-image: var(--img), linear-gradient(#F9F9F9, #F9F9F9);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.weapon-button:hover {
  background-image: var(--img), conic-gradient(from var(--angle), red, yellow, lime, aqua, blue, magenta, red);
  animation: 5s rotate linear infinite;
  transform: scale(1.2);
}

@keyframes rotate{
    to { --angle: 360deg; }
}

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

@property --img {
  syntax: '<img>';
  initial-value: var(--slicers);
  inherits:false;
}

