
* {
  --slicers: url(https://raw.communitydragon.org/14.14/game/assets/ux/strawberry/upgradeselection/icons/weapon/9171_holybauble.png);
}

body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  color: white;
  overflow: hidden;
  display: flex;
}

table {
  width: 100%;
  height: 100%;
}

table tr {
  border: 2px solid green;
}

.weapon-tab {
  padding: 0;
  margin: 0;
  width: 40vw;
  height: 100vh;
  display: inline-block;
}

.info-tab {
  padding: 0;
  margin: 0;
  flex-grow: 1;
  height: 100vh;
  display: inline-block;
}

.weapon-button {
  overflow: hidden;
  --angle;
  --img;
  display: table-cell;
  border-radius: 8px;
  padding: 2px;
  width: 64px; 
  height: 64px;
  background-repeat: no-repeat;
  background-size: cover;
  border: 0px;
  background-image: var(--img);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.weapon-button:hover {
  background-image: var(--img), conic-gradient(from var(--angle), red, yellow, lime, aqua, blue, magenta, red);
  animation: 5s rotate linear infinite;
  transform: scale(1.2);
}

@keyframes rotate{
    to { --angle: 360deg; }
}

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

@property --img {
  syntax: '<img>';
  initial-value: var(--slicers);
  inherits:false;
}

